body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.aside {
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 200px;
  height: 100vh;
  position: fixed;
}


.span > div {
  color: black;
  margin-bottom: 60px;
  padding: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.container {
  margin-left: 230px;
  padding: 20px;
}

.summary {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
.child-1 ul li  a,.child-2 ul li a{
 color: black;
 text-decoration: none;
}

.span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eee;
  width: 60%;
}
.child-1{
  width: 50%;
}
.child-2{
  width: 50%;
}
.child-1 {
  transition: all 1s;
}

.child-1:hover {
  background-color: rgb(21, 21, 53);
  transform: scale(1.2);
  color: white;
  border-radius: 8px;
}

.child-2 {
  transition: all 1s;
}

.child-2:hover {
  background-color: rgb(62, 6, 62);
  transform: scale(1.2);
  border-radius: 8px;
  color: white;
}

.span ul {
  list-style-type: none;
  padding: 0;
}

.span ul li {
  margin-bottom: 10px;
}

.recent-activity {
  background-color: #ddd;
  padding: 20px;
}

.recent-activity ul {
  list-style-type: none;
  padding: 0;
}

.recent-activity ul li {
  margin-bottom: 10px;
}
/* Mobile devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    margin: 0;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .menu{
    float: right;
  }
.container{
  margin: 0;
}
  header {
    flex-direction: column;
  }
  .aside{
    display: none;
    
  }

 .logo {
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

 .contact {
    flex-direction: column;
  }

 .contact button {
    margin-left: 0;
    margin-top: 10px;
  }

 .aside {
    width: 100%;
  }

 .container {
    width: 100%;
  }

 .summary {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

 .summary p {
    margin-bottom: 10px;
  }

 .actions {
    flex-direction: column;
  }

 .span {
    width: 100%;
  }

 .span.child-1,
 .span.child-2 {
    width: 100%;
  }
  .recent-activity {
    width: 100%;
    margin: 0;
  }
 .recent-activity table {
    width: 100%;
  }

 .recent-activity th,
 .recent-activity td {
    padding: 10px;
  }
}