

  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;

  }
  .intro{
    display:flex ;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
  }
  .container{
    padding-top: 20px;
  }
main{

  margin: 0 auto;
  width: 100%;
}
  .word{
    width: 30%;
    margin: 100px auto;


  }
  .word h1{
    font-size: 50px;
    font-weight: 900;
  }
  .section{
    margin-top: 100px;
  
  }
  .word p{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 60px;
    
  }
  .buttons{
    display: flex;
    width: 100%;
    gap: 20px;
  }
  button{
    padding: 20px;

  }
  #one{
    color:white;
    background-color: black;
  }
  #one:hover{
    background-color: white;
    color: black;
  }
  #two:hover{
    color: white;
    background-color:black;
  }

  .img-1{
    align-items: center;
   
  overflow: hidden; /* Clip overflowing parts of the image */
  border-radius: 0% 50% 0% 0%; /* Set border radius for a quarter circle */
  width: 50%; /* Adjust width as needed */
  
  }
  .img-1 img{
    width: 100%;
    overflow: hidden;
  }

  .child-1{
  display: flex;
  justify-content: space-between;
  }
  .child-2{
    width: 30%;
    margin: 50px auto;
  }
  .child-2 h1{
    font-size: 50px;
    font-weight: 900;
    margin-top: 30%;
  }
  .child-2 p{
    font-size: 20px;
   line-height: 30px;
  }
  .child-3{
    width: 50%;
  }
  .button-1 button{
    background-color: black;
    color: white;
  }
  .parent{
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .immediate,.second{
    display: flex;
    gap: 20px;
  }
  .parent img{
    width: 100%;
  }
 .bigger{
  display: flex;
  flex-direction: row;
  gap: 20px;
 }
 .three{
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 100px;
 }
 .create-1{
  display: flex;
  flex-direction: column;
  width: 50%;
   box-shadow: 0px 0px 20px 20px rgb(229, 226, 226);
  
 }
 .init{
  width: 50%;

 }
 .chi h2{
  font-size: 36px;
  font-weight: 800;
 }
 .chi p{
  font-size: 20px;
  line-height: 25px;
 }
.chi{
  width: 65%;
}
 .bigger img{
  width:100%;
 }
 .cont{
   display: flex;
   flex-direction: column;
  width: 100%;
  margin-bottom: 36px;
 }
 .big{
  width: 100%;
  box-shadow: 0px 0px 5px 10px whitesmoke;
  text-align: center;
 }
 .big h1{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
 }
 .conta{
  width: 10%;
  background-color: lawngreen;
  border-radius: 10px;
 }


 .imagine{
  width: 100%;
  float: right;
 }
.contact h1{
  font-size: 35px;
}
.contact p{
  font-size: 20px;
}
footer{
  display: flex;
  justify-content: space-between;
  background-color:rgb(219, 214, 214);
  padding: 5%;
  

}
.father{
  display:flex ;
  flex-direction: column;
  color: black;
}
.father h1{
  font-size: 30px;
  font-weight: 900;
}
.father span{
  font-size: 20px;
}
.father a{
  color: black;
  line-height: 25px;

}
