.container {
    display: flex;
    flex-direction: column;
  }
  
  .service {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .service img {
    width: 100px;
    margin-right: 20px;
  }
  
  .service h3,
  .service p {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 767px) {
   .service {
      flex-direction: column;
    }
  
   .service img {
      width: 100%;
    }
  }