
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        nav{
            align-items: center;
        }
      ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px auto;
        align-items: center;
      }
      ul li{
        list-style-type: none;
      }
      ul li a{
        color: white;
        text-transform: uppercase;
      }
      ul li a:hover{
        color: grey;
        font-style: italic;
        height: 50px;
        border-radius: 5px;
      }
      .logo{
        width: 10%;
        
      }
    </style>
</head>

        <nav>
            <ul>
                <img src="/images/house.png" alt="" class="logo">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Our Services</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">signup</a></li>
            </ul>
        </nav>


</html>